<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IDataBaseCtr" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://192.168.0.50/wcf/example/helloworldservice"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataBaseCtr"
                        contract="ServiceReference1.IDataBaseCtr" name="BasicHttpBinding_IDataBaseCtr" />
        </client>
    </system.serviceModel>
</configuration>